body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;

}

/* MENU */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 15px 200px 0px 200px;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul, a{
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

/* Inicio*/
.inicial {
  background-color: #1f2937;
  display: flex;
  padding: 100px 200px 100px 200px;
  gap: 50px;
  margin-bottom: 50px;
 
}

.titulo {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 5px;
}

.desc {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.himg {
  max-width: 100%;
  width: 500px;
  height: auto;
}


.sign1 {
  background-color: #3882f6;
  color: white;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  margin: 0;
  border: none;
}

/* Secao 2*/
.sec2 {
  text-align: center;
  margin-bottom: 100px;
}

.titulo2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 40px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.items {
  max-width: 200px;
  
}

.item {
  width: 200px;
  height: 200px;
  border: 5px #3882f6 solid;
  border-radius: 10px;
}

.items p {
  margin-top: 5px;
}

/* Secao 3*/

.sec3 {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  padding: 100px 200px 100px 200px;

  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly
}

.thor {
  margin: 0;
  font-weight: bold;
}

/* Secao 4*/

.sec4 {
  display: flex;
  margin: 100px 200px 100px 200px;
  margin-bottom: 50px;
  justify-content: space-around;
  background-color: #3882f6;
  border-radius: 10px;
  align-items: center;
  padding: 30px;
}

.titulo3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.product {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.sign2 {
  display: inline;
  background-color: #3882f6;
  color: white;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  margin: 0;
  border-color: white;
  border-style: solid;
}

/* FOOTER */
.footer{
  text-align: center;
  padding: 30px 50px 30px 50px;
  background-color: #1f2937;
  color: #E5E7EB;
}